@import '../../shared.scss';

.contact-info-item {
    margin-bottom: $def-padding/2;
    
    &:last-child {
        margin-bottom: initial;
    }

    svg{
        font-size: 1.25rem;
        margin-left: $def-padding;
        color: $blue;
        min-width: 20px;
        text-align: center;
    }

    span {
        @media screen and (max-width: $break-medium){
            display: none;    
        }
    }
}