@import '../../../shared.scss';

.skills-section{
    background-color: $gray-100;
    padding: $def-padding $def-padding * 4;
    margin: 0 $def-padding*4;
    width: 25%;
    display: inline-block;
    color: $gray-800;
    min-width: 200px;
    box-sizing: content-box;

    @media screen and (max-width: $break-medium) {
        display: none;
        width: auto;

        &.--selected {
            display: block;
        }
    }
}