@import '../../shared.scss';

.experience-item {
   
    display: flex;
    margin-bottom: $def-padding;
    margin-top: $def-padding;
    &:last-child {
        margin-bottom: 0;
    }

    > * {
        display: inline-block;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .experience-item__duration {
        min-width: $def-padding * 14;

        h4 {
            margin-bottom: 0;
            
            .exp-item__title {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }

    &.--expanded {
        .experience-item__splitter {    
            .experience-item__bar {
                background-color: $gray-600;
            }
        }
    }

    .experience-item__splitter {
        position: relative;
        padding: 0 8px;
        margin-top: $def-padding;
        margin-right: $def-padding;

        .experience-item__bar {
            
            height: 100%;
            width: 2px;
        }

        .experience-item__dot {
            width: 16px;
            height: 16px;
            background-color: $gray-600;
            border-radius: 100%;
            position: absolute;
            top: -4px;
            left: 1px;
            cursor: pointer;
        }
    }

    .experience-item__content {



        &:last-child {
            padding-bottom: 0;
        }

        .experience-item__position {
            font-family: Roboto;
            font-weight: bold;
        }

        .experience-item__detail {
            margin-bottom: $def-padding;
        }

        .experience-item__attribution {
            li {
                margin-bottom: $def-padding / 2;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
