@import '../../../shared.scss';

.main-content {
    padding: $def-padding * 2 0;
    display: flex;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    

    @media screen and (max-width:$break-medium) {
        display: block;
        padding: 0;
    }
}