@import '../../../shared.scss';

.exp-section {
    margin-bottom: $def-padding * 2;
    &:last-child {
        margin-bottom: 0;
    }

    .exp-section__title {
        padding: $def-padding $def-padding*2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gray-100;
        transform: skew(-10deg);
        color: lighten($blue, 10%);
        font-weight: normal;
        margin-left: $def-padding*2;
        margin-bottom: $def-padding*2;
        font-size: 1.1rem;

        @media screen and (max-width: $break-medium) {
            margin-left: $def-padding;
            margin-right: $def-padding;
        }

        svg {
            cursor: pointer;
        }

    }

    .exp-section__content {
        padding-left: $def-padding * 6;
        padding-right: $def-padding;

        @media screen and (max-width: $break-medium) {
            padding-left: $def-padding *2;
            padding-right: $def-padding *2;
        }

    }
}